include includes/header.jade
+header('Esk Email', '/')
  #header
    h1 Welcome to Esk Email
    h2 A bring-your-own-domain email provider
    h3 What is it?
    p.indent 
      | Esk Email is a non-traditional email provider. Unlike most email providers,
      | we do not offer email addresses on our own domains,
      | but instead offer email addresses on
      i your
      | domain.
    p Getting started is simple. You pay us a small monthly amount, and we give you
      | three DNS records which you add to your domain. After that, you'll be able to
      | create as many users as you like.
    p If you trust your users, such as if this is for a close-knit community, you can optionally
      | choose to let any user invite more users themselves. Captcha-based registration is also planned.

    h3 Why not use Gmail?
    p.indent
      |One of the most important things we use the internet for is email, and yet
      | a few email providers, such as Gmail and Outlook, control almost all email.
      | These providers make it difficult to run email off of your own domains and
      | automatically read your email to provide advertisements.
      | Those that do let you use your own domain invariably impose limits on the number of users
      | as well.
    p The Esk Email service tries to be more transparent and less limiting than any other provider.
