include includes/header.jade
+header('Esk Email - Pricing', '/pricing')
  #header
    h1 Pricing
    h2 What is having control of email to your domain worth to you?

    h2.red This feature is not complete; you cannot pay me yet. Sorry! Feel free to contact me and try and hurry it along! As such, the below prices are
      b  TENTATIVE

    p Pricing: $2 per domain for up to 2GB of storage space. All storage space above the initial 2GB will be charged at $0.10/GB. You will be charged monthly with Stripe (sorry, we only accept Stripe). If you have any questions, you should 
      a(href="/contact") contact
      |  me
