include util.jade
mixin menuitem(ref, active, text)
  li: a(href=ref,class=(active==ref)?'pure-menu-selected':'')= text

mixin menuheader(name)
  li: small.pure-menu-heading= name
  li.menu-item-divided

mixin header(title, active)
  doctype html5
  html
    head
      title= title
      +css('css/app.css')
    body
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href='/') Esk Email
          ul
            +menuitem('/', active, "Home")
            +menuitem('/pricing', active, "Pricing")
            +menuitem('/docs', active, "Documentation")
            +menuitem('/opensource', active, "Source Code")
            +menuitem('/security', active, "Security")
            +menuitem('/privacy', active, "Privacy")
            +menuitem('/contact', active, "Contact")


            +menuheader("User Links")
            +menuitem('/manage', active, "Manage Account")
            +menuitem('/mail/', active, "Webmail")

            +menuheader("Admin Links")
            +menuitem('/admin', active, "Manage Domain")
      #content.pure-u-4-5
        block
      script(src="js/app.js")
