include includes/header.jade
+header('Esk Email - Manage', '/manage')
  #loadingdiv
    h1 Loading
  #logindiv.hide.pure-form
    form
      fieldset
        legend Login required
        input(id="email",placeholder="Email")
        input(id="password",type="password",placeholder="password")
        input.pure-button-primary.pure-button(type="submit",value="Login",id="loginbtn")
      small Please note, your login automatically expires in 2 hours.
  #managediv.hide
    h2 Manage stuff
    #manage-mess.pure-g-r
      .pure-u-1
        h4 Logged in as 
          span#login-email.italic-text
      .pure-u-1-3
        fieldset
          legend Change Password
          input(type="password",id="oldpass",placeholder="Current Password")
          input(type="password",id="newpass",placeholder="New Password")
          button.pure-button(id="changepassbtn") Change Password
      .pure-u-1-3
        fieldset
          legend Invite a Bro
          button.pure-button(id="invitebtn") Gimme an Invite
      #logout-box.pure-u-1-3
        fieldset
          legend Logout
          button.pure-button(id="logoutbtn",value="logout") Logout
